<html>
	<head>
		<title>#TITLE#</title>
		<link rel="stylesheet" href="jmksf.css" type="text/css"></link>
	</head>

	<body>
		<table width="100%">
			<tr>
				<td class="img">
					<img src="rb5.png" width="93" height="62" border="0" alt="" />
				</td>
				<td class="top">
					#TITLE#
				</td>
				<td class="navigation">
					#UDMS_PREV#<br>#UDMS_NEXT#
				</td>
		</table>

		<img src="line.png" width="100%" height="1" border="0" alt="">

		#CONTENT#<br><br>

		<img src="line.png" width="100%" height="1" border="0" alt="">

		<div class="copyright">
			Copyright &copy; 2000-2005 by J.M.K S.F. Software Technologies, Jan Max Meyer<br>
			All rights reserved.
		</div>
	</body>
</html>