<html>
	<head>
		<title>RapidBATCH Language Reference :: #TITLE#</title>
		<link rel="stylesheet" href="jmksf.css" type="text/css" />
	</head>
	<body>
		<div id="top">
			<img src="rb5.png" alt="RapidBATCH Logo" />
			#TITLE#
		</div>
	
		<div class="line">&nbsp;</div>
	
		<table cellspacing="10" width="100%">
			<tr>
				<td class="ref_label">Syntax:</td>
				<td class="ref_syntax">#SYNTAX#</td>
			</tr>
			<tr>
				<td class="ref_label">Description:</td>
				<td>#DESCRIPTION#</td>
			</tr>
			<tr>
				<td class="ref_label">Examples:</td>
				<td class="ref_code">#EXAMPLE#</td>
			</tr>
			<tr>
				<td class="ref_label">Remarks:</td>
				<td>#REMARKS#</td>
			</tr>
		</table>
	
		<div class="line">&nbsp;</div>
	
		<div id="copyright">
			Copyright &copy; 2000-2006 by J.M.K S.F. Software Technologies, Jan Max Meyer<br>
			All rights reserved.
		</div>
	</body>
</html>