#include <windows.h>
#include "rbb4.rh"

1    24     "manifest.xml"
IDI_BASEICON	ICON	DISCARDABLE	"res\\rb5.ico"
IDI_SCRIPTICON	ICON	DISCARDABLE	"res\\rb5_script.ico"
IDI_TB_BITMAPS  BITMAP  DISCARDABLE     "res\\tb_bitmaps.bmp"
IDI_RB5_LOGO	BITMAP	DISCARDABLE	"res\\rb5_logo.bmp"

RBB4 MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N",                IDM_FILE_NEW
        MENUITEM "&Open\tCtrl+O",               IDM_FILE_OPEN

	MENUITEM "#"				IDM_FILE_HISTORY

        MENUITEM "&Save\tCtrl+S",               IDM_FILE_SAVE
        MENUITEM "Save &as...",                 IDM_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "&Print\tCtrl+P",              IDM_FILE_PRINT
        MENUITEM SEPARATOR
        MENUITEM "&Quit\tCtrl+Q",               IDM_FILE_QUIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",                IDM_EDIT_UNDO
        MENUITEM "&Redo\tCtrl+Z",                IDM_EDIT_REDO        
        MENUITEM SEPARATOR
        MENUITEM "C&ut\tCtrl+X",                IDM_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C"                IDM_EDIT_COPY
        MENUITEM "&Paste\tCtrl+P",              IDM_EDIT_PASTE
        MENUITEM "&Delete",                     IDM_EDIT_DELETE
        MENUITEM "Select &all\tCtrl+A",         IDM_EDIT_SELECT_ALL
        MENUITEM SEPARATOR
        MENUITEM "&Find\tCtrl+F",               IDM_EDIT_FIND
        MENUITEM "Find &next\tF3"               IDM_EDIT_FIND_NEXT
        MENUITEM SEPARATOR
	MENUITEM "Comment/Uncomment &selection\tCtrl+R", IDM_EDIT_COMMENT_SEL
	MENUITEM SEPARATOR
	MENUITEM "&Goto line\tCtrl+L",          IDM_EDIT_GOTO_LINE
    END
    POPUP "&Script"
    BEGIN
        MENUITEM "&Run\tF5",                    IDM_SCRIPT_RUN
        MENUITEM "&Compile\tF9"                 IDM_SCRIPT_COMPILE
        MENUITEM SEPARATOR
        MENUITEM "&Debug properties",           IDM_SCRIPT_DEBUG
        MENUITEM "Set [&command]...",           IDM_SCRIPT_COMMAND
    END

    MENUITEM "#"				IDM_TOOLS_MENU

    POPUP "&Help"
    BEGIN
        MENUITEM "Language &reference\tF1",     IDM_HELP_REFERENCE
        MENUITEM "Programming &guide",          IDM_HELP_MANUAL
        MENUITEM "What's &new?",                IDM_HELP_WHATSNEW
        MENUITEM SEPARATOR
        MENUITEM "rapidbatch.com",              IDM_HELP_WEBSITE
        MENUITEM "&License agreements",         IDM_HELP_LICENSE
        MENUITEM SEPARATOR
        MENUITEM "&About RapidBATCH...",        IDM_HELP_ABOUT
    END

END


RBB4 ACCELERATORS
BEGIN
    VK_F5,      IDM_SCRIPT_RUN,         VIRTKEY
    VK_F9,      IDM_SCRIPT_COMPILE,     VIRTKEY
    VK_F1,      IDM_HELP_REFERENCE,     VIRTKEY

    "N",        IDM_FILE_NEW,           CONTROL, VIRTKEY
    "S",        IDM_FILE_SAVE,          CONTROL, VIRTKEY
    "O",        IDM_FILE_OPEN,          CONTROL, VIRTKEY
    "Q",        IDM_FILE_QUIT,          CONTROL, VIRTKEY
    "G",        IDM_EDIT_GOTO_LINE,     CONTROL, VIRTKEY
    "F",        IDM_EDIT_FIND,          CONTROL, VIRTKEY
    VK_F3,      IDM_EDIT_FIND_NEXT,     VIRTKEY
    "V"         IDM_EDIT_PASTE,         CONTROL, VIRTKEY
    "P"         IDM_FILE_PRINT,         CONTROL, VIRTKEY
    "R"		IDM_EDIT_COMMENT_SEL,	CONTROL, VIRTKEY    
END


IDD_GOTOLINE DIALOG DISCARDABLE  0, 0, 150, 35
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Goto Line"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Go to line:",IDC_LABEL,2,4,92,10
    EDITTEXT        IDC_LINENUMBER,2,18,90,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK",IDOK,96,2,50,14, BS_DEFPUSHBUTTON
    PUSHBUTTON      "&Cancel",IDCANCEL,96,18,50,14
END

IDD_SETCOMMAND DIALOG DISCARDABLE 167, 89, 188, 32
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Set command-line parameters"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "[command] = ", 101, 0, 2, 44, 8
    EDITTEXT        IDC_COMMANDLINE, 45, 0, 142, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK", IDOK, 85, 16, 50, 14, BS_DEFPUSHBUTTON
    PUSHBUTTON      "&Cancel", IDCANCEL, 137, 16, 50, 14
END


IDD_FIND DIALOG DISCARDABLE  0, 0, 150, 35
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Find"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_FINDTEXT,2,2,92,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&OK",IDOK,96,2,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,96,18,50,14
END



IDD_COMPILE DIALOG 89, 52, 200, 125
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Script Compiler"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_COMPILER_CMDLINE, 3, 2, 194, 12, ES_AUTOHSCROLL | ES_READONLY 
    AUTOCHECKBOX    "&Automatic link", IDC_COMPILER_AUTOLINK, 4, 18, 97, 10
    AUTOCHECKBOX    "&Run executable", IDC_COMPILER_RUNAFTERHALT, 4, 29, 97, 10
    AUTOCHECKBOX    "Link &icon file", IDC_COMPILER_LINKICON, 4, 40, 97, 10
    DEFPUSHBUTTON   "&Compile", IDC_COMPILER_OK, 139, 17, 59, 17, BS_DEFPUSHBUTTON
    PUSHBUTTON      "&Cancel", IDCANCEL, 139, 36, 59, 17
    EDITTEXT        IDC_COMPILER_OUTPUT, 1, 57, 196, 65, ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY | WS_VSCROLL
END

IDD_DEBUG DIALOG 225, 103, 148, 140
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Debug Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Debug Mode", IDC_DEBUG_GROUPDEBUGMODE, 1, 17, 146, 39
    AUTOCHECKBOX    "&Debug script", IDC_DEBUG_DEBUGSCRIPT, 2, 3, 143, 10
    AUTORADIOBUTTON "Step", IDC_DEBUG_STEP, 5, 29, 137, 10, WS_GROUP
    AUTORADIOBUTTON "Trace", IDC_DEBUG_TRACE, 5, 41, 137, 10
    GROUPBOX        "Variable monitoring", IDC_DEBUG_GROUPVARMON, 1, 58, 146, 61
    AUTORADIOBUTTON "&None", IDC_VARMON_NONE, 5, 68, 137, 10, WS_GROUP
    AUTORADIOBUTTON "&Automatic", IDC_VARMON_AUTO, 5, 79, 137, 10
    AUTORADIOBUTTON "&Manual:", IDC_VARMON_MANUAL, 5, 90, 137, 10
    EDITTEXT        IDC_VARMON_VARS, 18, 102, 124, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "&OK", IDOK, 1, 122, 73, 17, BS_DEFPUSHBUTTON
    PUSHBUTTON      "&Cancel", IDCANCEL, 75, 122, 73, 17
END

IDD_ABOUT DIALOG 219, 84, 216, 160
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU EXSTYLE WS_EX_TOOLWINDOW
CAPTION "About RapidBATCH 5..."
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT           "", IDC_LOGO, 1, 1, 213, 85, SS_BITMAP | SS_CENTERIMAGE | SS_SUNKEN
    CTEXT           "", IDC_PROGNAME, 4, 90, 209, 10
    CTEXT           "",
		    IDC_COPYRIGHT, 4, 100, 209, 8
    CTEXT           "Please refer license.txt for more informations.",
		    IDC_REFERLICENSE, 4, 112, 209, 8
    CTEXT           "http://www.rapidbatch.com/", IDC_WEBSITE, 37, 130, 142, 10
    PUSHBUTTON      "&OK", IDOK, 77, 140, 60, 19, BS_DEFPUSHBUTTON
END

